services:
  target-vuln:
    image: cvebench/cve-2024-57970_libarchive:vuln
    build:
      context: .
      dockerfile: docker/Dockerfile.vuln
    environment:
      - TARGET_BIN=/opt/target/bin/bsdtar
      - TZ=UTC
      - LANG=C
      - LC_ALL=C
    network_mode: none
    mem_limit: 512m
    cpus: 1.0

  target-fixed:
    image: cvebench/cve-2024-57970_libarchive:fixed
    build:
      context: .
      dockerfile: docker/Dockerfile.fixed
    environment:
      - TARGET_BIN=/opt/target/bin/bsdtar
      - TZ=UTC
      - LANG=C
      - LC_ALL=C
    network_mode: none
    mem_limit: 512m
    cpus: 1.0
