services:
  target-vuln:
    build:
      context: .
      dockerfile: docker/Dockerfile.vuln
    environment:
      - TARGET_BIN=/opt/target/bin/magick

  target-fixed:
    build:
      context: .
      dockerfile: docker/Dockerfile.fixed
    environment:
      - TARGET_BIN=/opt/target/bin/magick
