services:
  target-vuln:
    image: cvebench/cve-2023-50246_jq:vuln
    build:
      context: .
      dockerfile: docker/Dockerfile.vuln
    environment:
      - TARGET_BIN=/opt/target/bin/jq
      - TZ=UTC
      - LANG=C
      - LC_ALL=C
    # ASLR: Disabled per-process via setarch -R in harness/run.sh
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    cap_add:
      - SYS_PTRACE
    network_mode: none
    mem_limit: 512m
    cpus: 1.0

  target-fixed:
    image: cvebench/cve-2023-50246_jq:fixed
    build:
      context: .
      dockerfile: docker/Dockerfile.fixed
    environment:
      - TARGET_BIN=/opt/target/bin/jq
      - TZ=UTC
      - LANG=C
      - LC_ALL=C
    # ASLR: Disabled per-process via setarch -R in harness/run.sh
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    cap_add:
      - SYS_PTRACE
    network_mode: none
    mem_limit: 512m
    cpus: 1.0
